* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    padding: 10px 15px;
    font-weight: 400px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: rgb(10, 174, 250);
}