* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cardBody {
    width: 320px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    position: relative;
}

.cardImg {
    width: 200px;
    height: 320px;
    border-radius: 15px;
}

.cardTitle {
    font-size: 30px;
    font-weight: 400px;
}

.cardAuthor {
    font-size: 20px;
    font-weight: 200px;
}