.cartContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: 10px 15px;
    flex-wrap: wrap;
    gap: 15px;
}

.buttons {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clear,
.pay {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.clear {
    background-color: darkred;
}

.pay {
    background-color: green;
}